/* .App {
  text-align: center;
} */
.header{
  /* background-color: #AB2918;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0; */
}

.App-logo {
  height: 40vmin;
}

.app{
	/* background: white; */
	padding-top: 15px;
	background-color: #white;
	/* position: relative;
	width: 100%;
	min-height: 100vh;
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-pack: center;
	justify-content: center; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}



.App-link {
  color: #09d3ac;
}

img{
	height: 150px;
	width: auto;
	margin: 5px;
}
